In [3]:
import mysql.connector

dataBase = mysql.connector.connect(
    host = "localhost",
    user ="root",
    passwd = ""
)

cursorObject = dataBase.cursor()

cursorObject.execute("CREATE DATABASE D3_TI_2023")
print("Database berhasil dibuat")

Database berhasil dibuat

In [4]:
# menghubungkan dan mengoperasikan database MySQL dari Python.
import mysql.connector

#Buat koneksi ke database MySQL menggunakan metode mysql.connector.connect(), koneksi ke database d3_ti_2023 pada server localhost dilakukan dengan username root dan tanpa password.
conn = mysql.connector.connect(user = 'root',
    host = 'localhost',
    database = 'd3_ti_2023')

#Cetak koneksi untuk mengecek apakah koneksi berhasil terbentuk.
print(conn)

#Tutup koneksi ke database MySQL 
conn.close

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000024137113C70>

In [5]:
# menghubungkan dan mengoperasikan database MySQL dari Python
import mysql.connector

#buat koneksi ke database MySQL
dataBase = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="",
    database="d3_ti_2023"
)

cursorObject = dataBase.cursor() #mengeksekusi perintah SQL dan mengambil hasilnya

cursorObject.execute("use d3_ti_2023 ") #memilih database agar program dapat dijalankan

# membuat Tabel Mata Kuliah
#yang terdiri dari kolom kode mata kuliah, nama, waktu, dan ruangan 
matkulTable = """CREATE TABLE MATA_KULIAH (
                 KODE_MATKUL VARCHAR(10) PRIMARY KEY NOT NULL,
                 NAMA VARCHAR(50) NOT NULL,
                 WAKTU DATE,
                 RUANGAN VARCHAR(10)
                 )"""

cursorObject.execute(matkulTable) #menjalankan perintah SQL untuk membuat tabel MATA_KULIAH
print("Tabel Mata Kuliah berhasil dibuat")#print pesan berhasil

# membuat Tabel Mahasiswa
# kolom NIM, NAMA, ALAMAT, UMUR, dan MATA_KULIAH_KODE. mendefinisikan MATA_KULIAH_KODE sebagai foreign key yang mengacu pada kolom KODE_MATKUL di tabel MATA_KULIAH
mahasiswaTable = """CREATE TABLE MAHASISWA (
                    NIM VARCHAR(10) PRIMARY KEY NOT NULL ,
                    NAMA VARCHAR(30) NOT NULL,
                    ALAMAT VARCHAR(255),
                    UMUR CHAR(10),
                    MATA_KULIAH_KODE VARCHAR(10),
                    FOREIGN KEY (MATA_KULIAH_KODE) REFERENCES MATA_KULIAH(KODE_MATKUL) 
                    )"""

cursorObject.execute(mahasiswaTable) #menjalankan perintah SQL untuk membuat tabel MAHASISWA
print("Tabel Mahasiswa berhasil dibuat")#print pesan berhasil

# membuat Tabel Dosen
#kolom NIP, NAMA, ALAMAT, dan MATA_KULIAH_KODE. Perintah SQL tersebut juga mendefinisikan MATA_KULIAH_KODE sebagai foreign key yang mengacu pada kolom KODE_MATKUL di tabel MATA_KULIAH
dosenTable = """CREATE TABLE DOSEN (
                NIP VARCHAR(20) PRIMARY KEY NOT NULL,
                NAMA VARCHAR(50) NOT NULL,
                ALAMAT VARCHAR(255),
                MATA_KULIAH_KODE VARCHAR(10),
                FOREIGN KEY (MATA_KULIAH_KODE) REFERENCES MATA_KULIAH(KODE_MATKUL)
                )"""

cursorObject.execute(dosenTable) #menjalankan perintah SQL untuk membuat tabel DOSEN
print("Tabel Dosen berhasil dibuat") #print pesan berhasil

dataBase.close() #menutup koneksi ke MySQL setelah semua operasi selesai dilakukan.

Tabel Mata Kuliah berhasil dibuat
Tabel Mahasiswa berhasil dibuat
Tabel Dosen berhasil dibuat

In [6]:
# menghubungkan dan mengoperasikan database MySQL dari Python
import mysql.connector

#buat koneksi ke database MySQL
dataBase = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="",
    database="d3_ti_2023"
)

cursorObject = dataBase.cursor() #mengeksekusi perintah SQL dan mengambil hasilnya

# Insert data into MATA_KULIAH table
#menambahkan data pada tabel mata kuliah
matkulData = [
    ("MK001", "Pemrograman", "2023-04-01", "LAB01"),
    ("MK002", "Basis Data", "2023-04-02", "LAB02"),
    ("MK003", "Jaringan Komputer", "2023-04-03", "LAB03"),
    ("MK004", "Sistem Operasi", "2023-04-04", "LAB04"),
    ("MK005", "Algoritma dan Struktur Data", "2023-04-05", "LAB05")
]

#variabel yang menyimpan sebuah string SQL query untuk melakukan operasi INSERT data ke tabel MATA_KULIAH
matkulQuery = "INSERT INTO MATA_KULIAH (KODE_MATKUL, NAMA, WAKTU, RUANGAN) VALUES (%s, %s, %s, %s)"

cursorObject.executemany(matkulQuery, matkulData)#mengeksekusi SQL query pada cursorObject dengan melakukan banyak eksekusi, yaitu melakukan banyak penggantian terhadap %s pada query dengan nilai yang terdapat pada list matkulData
dataBase.commit() #melakukan komit pada database dan mengaplikasikan setiap perubahan pada database
print("Data mata kuliah berhasil ditambahkan") #print pesan berhasil

# Insert data into MAHASISWA table
mahasiswaData = [
    ("101", "Andi", "Jl. Sudirman", "21", "MK001"),
    ("102", "Budi", "Jl. Thamrin", "22", "MK001"),
    ("103", "Cici", "Jl. Sisingamangaraja", "23", "MK002"),
    ("104", "Dedi", "Jl. Jlata", "24", "MK002"),
    ("105", "Eka", "Jl. Diponegoro", "25", "MK003"),
    ("106", "Fani", "Jl. Gajah Mada", "26", "MK003"),
    ("107", "Gita", "Jl. Imam Bonjol", "27", "MK004"),
    ("108", "Hadi", "Jl. Pahlawan", "28", "MK004"),
    ("109", "Indra", "Jl. Urip Sumoharjo", "29", "MK005"),
    ("110", "Joko", "Jl. Slamet Riyadi", "30", "MK005")
]

#variabel yang menyimpan sebuah string SQL query untuk melakukan operasi INSERT data ke tabel MAHASISWA
mahasiswaQuery = "INSERT INTO MAHASISWA (NIM, NAMA, ALAMAT, UMUR, MATA_KULIAH_KODE) VALUES (%s, %s, %s, %s, %s)"

cursorObject.executemany(mahasiswaQuery, mahasiswaData)#mengeksekusi SQL query pada cursorObject dengan melakukan banyak eksekusi, yaitu melakukan banyak penggantian terhadap %s pada query dengan nilai yang terdapat pada list mahasiswaData
dataBase.commit() # melakukan komit pada database dan mengaplikasikan setiap perubahan pada database
print("Data mahasiswa berhasil ditambahkan")#print pesan berhasil

#Insert data into DOSEN table
dosenData = [
    ("DO001", "Drs. Imam S", "Jl. Merdeka", "MK001"),
    ("DO002", "Dr. Andri Y", "Jl. Kartini", "MK002"),
    ("DO003", "Drs. Ali M", "Jl. Asia Afrika", "MK003"),
    ("DO004", "Dr. Sari S", "Jl. Sisingamangaraja", "MK004"),
    ("DO005", "Drs. Budi A", "Jl. Pandanaran", "MK005")
]

#variabel yang menyimpan sebuah string SQL query untuk melakukan operasi INSERT data ke tabel DOSEN
dosenQuery = "INSERT INTO DOSEN (NIP, NAMA, ALAMAT, MATA_KULIAH_KODE) VALUES (%s, %s, %s, %s)"

cursorObject.executemany(dosenQuery, dosenData)#mengeksekusi SQL query pada cursorObject dengan melakukan banyak eksekusi, yaitu melakukan banyak penggantian terhadap %s pada query dengan nilai yang terdapat pada list dosenData
dataBase.commit()#melakukan komit pada database dan mengaplikasikan setiap perubahan pada database.
print("Data dosen berhasil ditambahkan")#print pesan berhasil

dataBase.close() #menutup koneksi ke MySQL setelah semua operasi selesai dilakukan.

Data mata kuliah berhasil ditambahkan
Data mahasiswa berhasil ditambahkan
Data dosen berhasil ditambahkan

In [7]:
#mengimport package mysql.connector yang digunakan untuk terhubung dengan database MySQL
import mysql.connector

#mengkoneksikan ke database
dataBase = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="",
    database="d3_ti_2023"
)

#membuat objek cursor untuk menjalankan perintah SQL di dalam database
cursorObject = dataBase.cursor()

# Select data dari tabel MATA_KULIAH
matkulQuery = "SELECT * FROM MATA_KULIAH" #menyimpan query untuk mengambil semua data dari tabel MATA_KULIAH

cursorObject.execute(matkulQuery) #mengeksekusi query yang telah disimpan di variabel matkulQuery
matkulResult = cursorObject.fetchall() #yaitu mengambil seluruh baris data yang ditemukan pada tabel MATA_KULIAH 

for matkul in matkulResult: #melakukan perulangan di setiap data pada matkul resullt
    print(matkul) #print data yang diambil dari tabel mata kuliah 

dataBase.close() # menutup koneksi database

('MK001', 'Pemrograman', datetime.date(2023, 4, 1), 'LAB01')
('MK002', 'Basis Data', datetime.date(2023, 4, 2), 'LAB02')
('MK003', 'Jaringan Komputer', datetime.date(2023, 4, 3), 'LAB03')
('MK004', 'Sistem Operasi', datetime.date(2023, 4, 4), 'LAB04')
('MK005', 'Algoritma dan Struktur Data', datetime.date(2023, 4, 5), 'LAB05')

In [8]:
#mengimport package mysql.connector yang digunakan untuk terhubung dengan database MySQL
import mysql.connector

#mengkoneksikan ke database
dataBase = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="",
    database="d3_ti_2023"
)

#membuat objek cursor untuk menjalankan perintah SQL di dalam database
cursorObject = dataBase.cursor()

# Select data dari tabel MAHASISWA
mahasiswaQuery = "SELECT * FROM MAHASISWA" #menyimpan query untuk mengambil semua data dari tabel MAHASISWA

cursorObject.execute(mahasiswaQuery) #mengeksekusi query yang telah disimpan di variabel mahasiswaQuery
mahasiswaResult = cursorObject.fetchall() #yaitu mengambil seluruh baris data yang ditemukan pada tabel MAHASISWA 

for mahasiswa in mahasiswaResult: #melakukan perulangan di setiap data pada mahasiswa resullt
    print(mahasiswa) #print data yang diambil dari tabel mahasiswa

dataBase.close() # menutup koneksi database

('101', 'Andi', 'Jl. Sudirman', '21', 'MK001')
('102', 'Budi', 'Jl. Thamrin', '22', 'MK001')
('103', 'Cici', 'Jl. Sisingamangaraja', '23', 'MK002')
('104', 'Dedi', 'Jl. Jlata', '24', 'MK002')
('105', 'Eka', 'Jl. Diponegoro', '25', 'MK003')
('106', 'Fani', 'Jl. Gajah Mada', '26', 'MK003')
('107', 'Gita', 'Jl. Imam Bonjol', '27', 'MK004')
('108', 'Hadi', 'Jl. Pahlawan', '28', 'MK004')
('109', 'Indra', 'Jl. Urip Sumoharjo', '29', 'MK005')
('110', 'Joko', 'Jl. Slamet Riyadi', '30', 'MK005')

In [9]:
#mengimport package mysql.connector yang digunakan untuk terhubung dengan database MySQL
import mysql.connector

#mengkoneksikan ke database
dataBase = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="",
    database="d3_ti_2023"
)

#membuat objek cursor untuk menjalankan perintah SQL di dalam database
cursorObject = dataBase.cursor()

# Select data dari tabel DOSEN
dosenQuery = "SELECT * FROM DOSEN" #menyimpan query untuk mengambil semua data dari tabel DOSEN

cursorObject.execute(dosenQuery) #mengeksekusi query yang telah disimpan di variabel dosenQuery
dosenResult = cursorObject.fetchall() #yaitu mengambil seluruh baris data yang ditemukan pada tabel DOSEN 

for dosen in mahasiswaResult: #melakukan perulangan di setiap data pada dosen resullt
    print(dosen) #print data yang diambil dari tabel dosen

dataBase.close() # menutup koneksi database

('101', 'Andi', 'Jl. Sudirman', '21', 'MK001')
('102', 'Budi', 'Jl. Thamrin', '22', 'MK001')
('103', 'Cici', 'Jl. Sisingamangaraja', '23', 'MK002')
('104', 'Dedi', 'Jl. Jlata', '24', 'MK002')
('105', 'Eka', 'Jl. Diponegoro', '25', 'MK003')
('106', 'Fani', 'Jl. Gajah Mada', '26', 'MK003')
('107', 'Gita', 'Jl. Imam Bonjol', '27', 'MK004')
('108', 'Hadi', 'Jl. Pahlawan', '28', 'MK004')
('109', 'Indra', 'Jl. Urip Sumoharjo', '29', 'MK005')
('110', 'Joko', 'Jl. Slamet Riyadi', '30', 'MK005')

In [19]:
import mysql.connector

# membuat koneksi ke database
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="d3_ti_2023"
)

# membuat objek cursor
cursorObject = mydb.cursor()

# menuliskan perintah SQL untuk melakukan join antara tabel MAHASISWA, MATA_KULIAH, dan DOSEN
selectQuery = "SELECT MAHASISWA.NAMA AS NAMA_MAHASISWA, MATA_KULIAH.NAMA AS NAMA_MATKUL, DOSEN.NAMA AS NAMA_DOSEN FROM MAHASISWA JOIN MATA_KULIAH ON MAHASISWA.MATA_KULIAH_KODE = MATA_KULIAH.KODE_MATKUL JOIN DOSEN ON MATA_KULIAH.KODE_MATKUL = DOSEN.MATA_KULIAH_KODE"

# mengeksekusi perintah SQL untuk melakukan join antara tabel MAHASISWA, MATA_KULIAH, dan DOSEN
cursorObject.execute(selectQuery)

# mengambil hasil join dan menampilkannya
result = cursorObject.fetchall()
for row in result:
    # mengambil nilai NAMA_MAHASISWA, NAMA_MATKUL, dan NAMA_DOSEN dari setiap baris hasil join
    nama_mahasiswa = row[0]
    nama_matkul = row[1]
    nama_dosen = row[2]
    
    # menampilkan nilai NAMA_MAHASISWA, NAMA_MATKUL, dan NAMA_DOSEN dalam format yang diminta
    print("Nama Mahasiswa: ", nama_mahasiswa)
    print("Nama Mata Kuliah: ", nama_matkul)
    print("Nama Dosen: ", nama_dosen)
    print()

Nama Mahasiswa:  Andi
Nama Mata Kuliah:  Pemrograman
Nama Dosen:  Drs. Imam S

Nama Mahasiswa:  Budi
Nama Mata Kuliah:  Pemrograman
Nama Dosen:  Drs. Imam S

Nama Mahasiswa:  Cici
Nama Mata Kuliah:  Basis Data
Nama Dosen:  Dr. Andri Y

Nama Mahasiswa:  Dedi
Nama Mata Kuliah:  Basis Data
Nama Dosen:  Dr. Andri Y

Nama Mahasiswa:  Eka
Nama Mata Kuliah:  Jaringan Komputer
Nama Dosen:  Drs. Ali M

Nama Mahasiswa:  Fani
Nama Mata Kuliah:  Jaringan Komputer
Nama Dosen:  Drs. Ali M

Nama Mahasiswa:  Gita
Nama Mata Kuliah:  Sistem Operasi
Nama Dosen:  Dr. Sari S

Nama Mahasiswa:  Hadi
Nama Mata Kuliah:  Sistem Operasi
Nama Dosen:  Dr. Sari S

Nama Mahasiswa:  Indra
Nama Mata Kuliah:  Algoritma dan Struktur Data
Nama Dosen:  Drs. Budi A

Nama Mahasiswa:  Joko
Nama Mata Kuliah:  Algoritma dan Struktur Data
Nama Dosen:  Drs. Budi A